.title {
  font-size: 3rem;
}

.tickets-container {
  width: 800px;
  margin: 6rem auto;
}

.tickets-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
