.info-box-actions {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.action-icon {
  margin: 0 0.5rem;
}
